* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, .app {
    width: 100%;
    height: 100%;
}

.h100 {
    height: 100%;
    background-color: #eaeaea;
}

.fpage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.inner-fpage {
    flex: 0 1 auto;
    padding: 1rem;
    color: #737373;
    border-top: solid 1px #aeaeae;
    border-bottom: solid 1px #aeaeae;
}